*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: antiquewhite;
    color: #fff;
}

h1{
    color: rgb(85, 64, 204);
    font: bolder;

}
h2{
    color:rgb(71, 212, 66);
    font: italic;
}
h3{
    color:rgb(238, 87, 50);
    font: italic;
}
.booklist{
    width: 90vw;
    max-width: 970vw;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}
@media screen and (min-width: 768px){
.booklist{
    grid-template-columns: repeat(5,1fr);
}
}
.book{

    background: white;
    border-radius: 1rem;
    padding: 1rem 3rem;
}
.book h1{
    margin-top: 0.5rem;
}
.book h2 {
    letter-spacing: 5px;
}